<div style="text-align:center" class="title">
  <h1>{{minhaUF.nome}}</h1>
  <p>ID: {{minhaUF.id}}</p>
  <p>ÁREA: {{minhaUF.area}}</p>
  <p>média de municípios atendidos: {{media}}</p>
</div>
<ul class="final">
<li *ngFor="let final1 of final">
<span class="badge"><b>Quantidade de municípios atendidos:</b> {{final1.valor}}</span> <b>ano:</b> {{final1.ano}}
</li>
TESTEEEEEEEEEEE
<ul class="dados_da_samu2">
<li *ngFor="let dados_da_samu2 of final">
<span class="badge"><b>Nome:</b> {{dados_da_samu2.id}} <b>Quantidade de municípios atendidos:</b> {{dados_da_samu2.valor}} <b>ano:</b> {{dados_da_samu2.ano}}</span>
</li>
